<div class="next-steps my-5">
    <h2 class="my-5 text-center">What can I do next?</h2>

    <div class="row">
      <div class="col-md-5 mb-4" *ngif='false'>
        <h6 class="mb-3">
          <a href="https://auth0.com/docs/connections">
            Create a profile to make picks
          </a>
        </h6>
        <p>
          Login using Auth0 in the top right corner to create your profile 
          that will store your picks. Once you login you can edit your name
          on the profile page in the dropdown in the top right.
        </p>
      </div>

      <div class="col-md" *ngif='false'></div>

      <div class="col-md-5 mb-4" *ngif='false'>
        <h6 class="mb-3">
          <a routerLink="schedule">Make Your Picks</a>
        </h6>
        <p>
          Once you have created your account using your phone number you'll
          be able to save your picks to your account. Pick the winner of each
          game in the playoffs for one point each along with the superbowl 
          prediction and winner for bonus points.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a routerLink="schedule">View Schedule</a>
        </h6>
        <p>
          Check out the current bracket of the remaining teams in the playoffs.
        </p>
      </div>

      <div class="col-md"></div>

      <div class="col-md-5 mb-4">
        <h6 class="mb-3">
          <a routerLink="scoreboard">View Scoreboard</a>
        </h6>
        <p>
          Scoreboard is the live view of everyone who has submitted picks and 
          how many points they have earned so far.
        </p>
      </div>
    </div>
  </div>
