<div *ngIf='user'>
    <h1>{{ user.name }}</h1><h1 *ngIf='user.nickname'>aka {{ user.nickname }}</h1>
    <h3>{{ user?.score }} Points</h3>    

    <div>
        <ul>
          <li class="label">
            <h2>Superbowl Prediction (+10)</h2>  
          </li>      
          <li>
            <p class="{{sb.style}}">{{ sb.answer }}</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="label">
            <h2>AFC Champion Prediction (+5)</h2>  
          </li>      
          <li>
            <p class="{{afc.style}}">{{ afc.answer }}</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="label">
            <h2>NFC Champion Prediction (+5)</h2>  
          </li>      
          <li>
            <p class="{{nfc.style}}">{{ nfc.answer }}</p>
          </li>
        </ul>
      </div>
      <div *ngIf='games.length > 0'>
          <ul *ngFor="let game of games; let i = index">
            <li class="label">
                <h2>{{ results.weeks[i].weekName }}</h2>
            </li>
            <li *ngFor="let g of game">
              <h2 class="label">{{ g.teams }}</h2>
              <p *ngIf="g.style === CORRECT" class="{{g.style}}">{{ g.winner }} (+1)</p>
              <p *ngIf="g.style === INCORRECT" class="{{g.style}}">{{ g.winner }}</p>

            </li>
          </ul> 
      </div>
</div> 
