h2 {
    text-align: center;
    padding: 5;
    color: #D50A0A;
}
h3{
    padding-left: 1%;
}
.correct {
    text-align: center;
    color: rgb(0, 158, 0);
}
.incorrect {
    text-align: center;
    color: red;
}
.unanswered {
    text-align: center;
    color: rgb(0, 0, 0);
}
.label {
    text-align: center;
    border: 15px inset #013369;
    background-color: rgb(255, 255, 255) !important;
    
}

p { 
    font-size: xx-large;
}